.page {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
}

.sidebar {
  flex-shrink: 0;
  width: 360px;
}

.content {
  flex-grow: 1;
  min-width: 0;
}

.message {
  padding: 40px 0;
  font-size: 20px;
  text-align: center;
  color: var(--text);
}

.loadMore {
  display: flex;
  margin: 40px auto 0;
  padding: 0 32px;
}
