.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 16px;
  background-color: var(--inputs);
  border-radius: 16px;
}

.head {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--button);
  background-color: var(--white);
  border-radius: 50%;
}

.name {
  margin-bottom: 4px;
  font-weight: 500;
}

.comment {
  color: var(--text);
}
