.card {
  padding: 24px;
  background-color: var(--inputs);
  border-radius: 20px;
}

.title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-light);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.name {
  text-transform: capitalize;
}
