.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 64px;
  background-color: var(--inputs);
  border-bottom: 1px solid var(--badges);
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  color: var(--main);
  transition: color 0.3s;
}

.link:hover,
.active {
  color: var(--button);
}
