:root {
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;
  --button: #829b91;
  --button-hover: #6d7b75;
  --rating: #ffc531;
  --error: #e44848;
  --error-bg: #ffe0e0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  background-color: var(--white);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}
